.atras{
     -fx-font-family: "Times New Roman";
     -fx-font-size: 18px;
     -fx-background-radius: 5 5 5 5;
     -fx-border-radius: 5 5 5 5;
}

.mesas{
    -fx-background-color: transparent;
    -fx-font-size: 25px;
}

* {
	-fx-grey-color: #b9b9b9;
	-fx-light-grey-color: #d1d1d1;
}
.table-view {
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}
.table-view .column-header {
	-fx-background-color: khaki;
	-fx-border-color: -fx-grey-color;
}
.table-view .column-header .label{
	-fx-font-weight: bold;
	-fx-font-size: 15px;
	-fx-alignment: center;
}
.table-row-cell:filled:selected {
	-fx-background-color: khaki;
}
.table-row-cell:filled:selected .table-cell {
	-fx-text-fill: black;
}

.button{
    -fx-background-color: khaki;
	-fx-border-color: -fx-grey-color;
}
